* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
}

.play-box {
    font-family: 'Noto Sans', sans-serif;
    height: 100px;
    width: 100px;
    font-size: 4rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restart {
    text-align: center;
    margin-top: 20px; 
}

.restart-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restart-btn:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}
.winner{
    font-family: 'Noto Sans', sans-serif;
    font-size: 3rem;
}
